<!DOCTYPE html>
<html>
  <head>
    <title>Notes for Ruth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="row">
        <a class="navbar-brand col-3" href="#">
          <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/999/s200/flatironschool.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Notes for Ruth
        </a>
        <a class="nav-link col-3" href="#"> See All Notes </a>

      </div>


    </nav>
     <br class="clear" />


    <%= yield %>
  </body>
</html>
